
div{
    position: relative;
}

.mainlogo{
    display: inline-block;
    
}
header{
    align-items: center;
}
.container1{
    display: inline-block;
    height: 40px;
    margin-right: 0px;
}
.container2{
    display: inline-block;
    padding: auto;
    
}
.hbsc{
    display: inline-block;
    opacity: 1
}
.home{
    display: inline-block;
    margin:0 20px 20px 20px;
    
}
.blog{
    display: inline-block;
    margin:0 20px 20px 20px;
}
.shop{
    display: inline-block;
    margin: 0px 20px 20px 20px;
}
.contact{
    display: inline-block;
    margin: 0px 20px 20px 20px;
}
.icons{
    padding: 60px;
    margin: 40pxpx;
    display: inline-block;
}
.order{
    
    color: azure;
    display: inline-block;
    border-radius: 90px;
    text-decoration: none;
    height: 50px;
}
.makeanorder{
    ;
    background-color: #5fcac7;
    color: white;
    text-decoration: none;
    border-radius: 100px; 
    height: 50px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.googleplus{
    display: inline-block;
    margin:0 20px 20px 20px;
}
.twitter{
    display: inline-block;
    margin:0 20px 20px 20px;
}
.facebook{
    display: inline-block;
    margin:0 20px 20px 20px;
}
.onesec{
    display: inline-block;
    color: black;
}
li {
    color: black;
    max-width: 10px;
    width: 110px;
    height: 10px;
    max-height: 10px;
    margin: 0 5px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: .3;
    transition: all .25s ease;
    box-sizing: border-box;
}
ul{
    color: black;
}
.container3{
position: relative;
}
.textonimage{
    text-align: left;
    left: 60px;
    font-weight: 700;
    top: 0%;
    line-height: 86px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    position: absolute;
    font-size: 4.5rem;
    padding right: 20px; 
    margin: 96px ;
    transform: translate(-50%,);
}
.bgimage{
    z-index: index 0;
    top: 0;
    bottom: 0;
    opacity: 0.9;
    border-radius: 0%;
    align-items: center;
    height: 840px;
    width: 90%;
    object-fit: cover;
    
}
p{
    margin-top: 30px;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 0px;
    word-spacing: normal;
}
.button{
margin-top: 30px;
box-sizing: border-box;
border-radius: 60px;
size: 60px;
}
.ordersweet{
    size: 60px;
    color: white;
    box-sizing: border-box;
    border-radius: 60px;
    font-weight: 500;
    font-size: large;
    background-color: #5fcac7 !important;
    border-color: #5fcac7 !important;
}
.speciality{
    padding: 20px;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: #4b4342;
    font-family: 'DM Sans', sans-serif;
}
.top-items{
    align-items: center;
    display: flex;
    justify-content: center;
}
.bottom-items{
    align-items: center;
    display: flex;
    justify-content: center;
}
.allitems{
    align-items: center;
    background-image: url(bg image.jpg);

}
section{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.cakeetc{
    align-items: left;
    display: inline-block;
    justify-content: center;
}
.macronsetc{
    align-items: center;
    display: inline-block;
    justify-content: center;
}
.small-cakes{
    align-items: right;
    display: inline-block;
    justify-content: center;
}
.text{
    text-align: center;
    font-family: 'DM Sans', sans-serif;;
    font-size: 20px;
}

img{
    display: flex;
    align-items: center;
    margin: 40px 40px 4px 40px;
    border-radius: 40px;
    padding: 20px 20px 0px 20px;
    height: 190px;
    width: 240px;
    
}
.mainimage{
    margin: 200px;
    padding: 20px;
}
.table{
    padding: 6rem;
    background-image: url(../../../assets/images/bakery12-3-1200x800.jpg);
}
.overlay{
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.container4{
    position: relative;
    max-width: 1140px;
    opacity: 0.8;
    background-color: rgb(95, 202, 199);
}
.overlay {
    background-color: rgb(95, 202, 199);
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    /* pointer-events: none; */
}
.inner{ 
    box-sizing: border-box;
    border-radius: 60px;
    border-color: white;
    height: 400px;
    position: relative;
    max-width: 1140px;
}
.magic{
    text-align: center;
    color: white;
}
.fa-solid {
    display: flex;
    font-size: 62px;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.creations{
    justify-content: center;
    align-items: center;
    
}
.creation{
    padding: 20px;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: #4b4342;
    font-family: 'DM Sans', sans-serif;
}
.allitems2{
    align-items: center;
    justify-content: center;
    background-image: url(bg image.jpg);
    
}
.top-items2{
    align-items: center;
    display: flex;
    justify-content: center
    
}
.bottom-items2{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-shrink: initial
}  